<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<style media="screen">
.center-column {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0, 0, 0, 0.75);
}
</style>
</head>

<div class="center-column">
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
{{form.task}}
<input type="submit" name="create_task" class="btn btn-sm btn-success">
</form>
{% for tasks in task %}
<a href="{% url 'update_task' tasks.id %}" class="btn btn-primary">Update</a>
<a href="{% url 'delete_task' tasks.id %}" class="btn btn-danger">Delete</a>

{% if tasks.is_complete %}
    <strike>{{tasks.task}}</strike>
    {% else %}
    {{tasks.task}}
{% endif %}
<p></p>
    

{% endfor %}
</div>
</div>
</div>